@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --corBackground: #1A1A19;

    --corPrincipal: #f7f7f7;
    --corSecundaria: #0052cc;
    --corAzul: #154284;
    --corNSEI: #D2FF72;

    --fontPrincipal: 'Montserrat', sans-serif;
    --fontSecundaria: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: var(--corBackground);
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 1rem;
}

.cabecalho__menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.cabecalho__menu__link {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.cabecalho__menu__link_links a {
    text-decoration: none;
    font-family: var(--fontSecundaria);
    color: var(--corPrincipal);
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
}

.cabecalho__menu__link_links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--corPrincipal);
    transition: width 0.3s ease;
}

.cabecalho__menu__link_links a:hover::after {
    width: 100%;
}

.cabecalho__menu__link_links a:hover {
    text-decoration: none;
    text-underline-offset: 0.8rem;
}

.apresentacao {
    padding: 8rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fontSecundaria);
    color: var(--corPrincipal);
    font-weight: 500;
    font-size: 2rem;
}

.apresentacao__conteudo__titulo span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--corPrincipal);
}

.apresentacao__conteudo__paragrafo {
    font-family: var(--fontPrincipal);
    color: var(--corPrincipal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__imagem {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    pointer-events: none;
}

.formacao {
    padding: 3rem 10rem;
}

.formacao__conteudo__titulo {
    text-align: center;
    font-family: var(--fontSecundaria);
    color: var(--corPrincipal);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 5rem;
}

.formacao__conteudo__descricao__titulo,
.formacao__conteudo__cursos__titulo,
.formacao__conteudo__idiomas__titulo {
    font-family: var(--fontPrincipal);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--corPrincipal);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.formacao__conteudo__descricao__paragrafo {
    margin-top: 1rem;
    font-family: var(--fontPrincipal);
    color: var(--corPrincipal);
    font-size: 1.2rem;
}

.formacao__conteudo__cursos__cursos li {
    margin-top: 1rem;
    font-family: var(--fontPrincipal);
    color: var(--corPrincipal);
    font-size: 1.2rem;
    list-style: none;
}

.formacao__conteudo__cursos__cursos li a {
    font-family: var(--fontPrincipal);
    color: var(--corPrincipal);
    font-size: 1.2rem;
    text-decoration: underline;
}

.formacao__conteudo__cursos__cursos li a:hover {
    color: var(--corSecundaria);
}

.formacao__conteudo__idiomas li {
    margin-top: 1rem;
    font-family: var(--fontPrincipal);
    color: var(--corPrincipal);
    font-size: 1.2rem;
    list-style: none;
}

.projetos {
    padding: 3rem 10rem;
}

.projetos__conteudo__titulo {
    text-align: center;
    font-family: var(--fontSecundaria);
    color: var(--corPrincipal);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projetos__conteudo__introducao {
    text-align: center;
    font-family: var(--fontPrincipal);
    color: var(--corPrincipal);
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.projetos__conteudo__introducao a {
    text-decoration: none;
    font-family: var(--fontSecundaria);
    color: var(--corSecundaria);
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
}

.projetos__conteudo__introducao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--corSecundaria);
    transition: width 0.3s ease;
}

.projetos__conteudo__introducao a:hover::after {
    width: 100%;
}

.projetos__conteudo__introducao a:hover {
    text-decoration: none;
    text-underline-offset: 0.8rem;
}

.projetos__conteudo__projetos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    gap: 10px;
}

.projetos__conteudo__projetos__titulo {
    font-family: var(--fontPrincipal);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--corPrincipal);
}

.projetos__conteudo__projetos__paragrafo {
    font-family: var(--fontPrincipal);
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--corPrincipal);
}

.projetos__conteudo__projetos__paragrafo a {
    font-family: var(--fontPrincipal);
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--corNSEI);
    text-decoration: none;
}

.projetos__conteudo__projetos__tecnologias {
    font-family: var(--fontPrincipal);
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--corPrincipal);
}

.contato {
    padding: 4% 5%;
}

.contato__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 8px;
}

.contato__conteudo__titulo {
    text-align: center;
    font-family: var(--fontSecundaria);
    color: var(--corPrincipal);
    font-weight: 500;
    font-size: 2rem;
}

.contato__conteudo__paragrafo {
    font-family: var(--fontPrincipal);
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--corPrincipal);
    text-align: center;
    margin-top: 2.3rem;
}

.contato__formulario {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0% 10%;
}

.contato__formulario__linha {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.contato__formulario__grupo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contato__formulario__nomes {
    font-family: var(--fontSecundaria);
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--corPrincipal);
    margin-bottom: 0.8rem;
}

.contato__formulario__campos {
    width: 100%;
    padding: 0.8rem 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--corPrincipal);
    font-size: 1rem;
    font-family: var(--fontPrincipal);
    color: var(--corBackground);
    outline: none;
    transition: border-color 0.3s ease;
}

.contato__formulario__campos::placeholder {
    font-size: 0.9rem;
}

.contato__formulario__campos:focus {
    border-color: var(--corSecundaria);
}

.contato__formulario__campos {
    resize: none;
}

.contato__formulario__botao {
    background-color: var(--corSecundaria);
    color: var(--corPrincipal);
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--fontSecundaria);
}

.contato__formulario__botao:hover {
    background-color: #003c99;
}

.rodape {
    padding: 2rem 1rem;
}

.rodape__conteudo {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.rodape__creditos {
    font-size: 1.2rem;
    font-family: var(--fontPrincipal);
    color: var(--corPrincipal);
    margin-bottom: 1rem;
}

.rodape__conteudo__redes-sociais {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.rodape__conteudo__redes-sociais a {
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.rodape__conteudo__redes-sociais a:hover {
    color: var(--corSecundaria);
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    .apresentacao {
        padding: 6rem 5rem;
    }

    .formacao,
    .projetos,
    .contato {
        padding: 2rem 5rem;
    }
}

@media (max-width: 992px) {
    .cabecalho__menu {
        flex-direction: column;
        gap: 1rem;
    }

    .apresentacao {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .apresentacao__conteudo {
        text-align: center;
        align-items: center;
    }

    .formacao__conteudo__titulo,
    .projetos__conteudo__titulo,
    .contato__conteudo__titulo {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        padding: 2rem 1rem;
    }

    .cabecalho__menu__link {
        flex-direction: row;
        gap: 1rem;
    }

    .apresentacao {
        padding: 4rem 2rem;
    }

    .formacao,
    .projetos,
    .contato {
        padding: 1rem 2rem;
    }

    .formacao__conteudo__descricao__paragrafo,
    .projetos__conteudo__introducao,
    .contato__conteudo__paragrafo {
        font-size: 1rem;
    }

    .contato__formulario {
        padding: 0 5%;
    }

    .contato__formulario__linha {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 576px) {
    .cabecalho {
        flex-direction: column;
    }

    .apresentacao__imagem {
        width: 100%;
    }

    .apresentacao {
        padding: 2rem 1rem;
    }

    .formacao__conteudo__descricao__titulo,
    .projetos__conteudo__projetos__titulo,
    .contato__conteudo__titulo {
        font-size: 1.5rem;
    }

    .contato__formulario__campos {
        font-size: 0.9rem;
    }

    .contato__formulario__botao {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
}